#myCarousel .nav a small {
    /*display:block;*/
}
#myCarousel .nav a {
    background:white;
    border-radius:0px;
    height: 50px;
    color: #51c9ec;
    padding-top: 15px;
}

#myCarousel .nav a:hover; {
    color: #ff00ca;
}

.envi-btn-text {
  color: #51c9ec;
  padding-top: 10px;
}

.envi-btn-text:hover {
  color: #ff00ca
}

