/*#scrollContent{
  height:186px;
  overflow:auto;
  position:relative;
}

.carousel
{
  padding:0px;

}
.carousel-caption 
{
  background:rgba(0,0,0,0.2)!important;
  bottom:0px;
  text-align:left;
  padding:5px;
  left:0px;
}
div.carousel-inner div.item img
{
padding:0px;
  background:#ff0;
}

.list-group-item
{

  height:172px;
  vertical-align:middle;
  font-size:18pt;
  cursor:pointer;
  background-color: #555;
}
.news
{
background:#f0f0f0;
  float:left;
  height:100%;
  position:absolute;
  z-index:20;
  margin-right:15px;
  padding:0px;

}
div.news-container
{
padding:0px;
}*/