/*********************************************/
#myCarousel .carousel-caption {
  left:0;
  right:0;
  bottom:0;
  text-align:left;
  padding:10px;
  background:rgba(0,0,0,0.6);
  text-shadow:none;
}

#myCarousel .list-group {
  height: 400px;
  overflow: scroll;
  position:absolute;
  top:0;
  right:0;
  background: #2a2a2a;
  padding: 6px;
}
#myCarousel .list-group-item {
  border-radius:0px;
  cursor:pointer;
  min-height: 98px;
  color: #434343;
}
#myCarousel .list-group .active {
  background-color:#eee;  
}

.carousel-img {
  width: 700px;
  height: 400px !important;
}

@media (min-width: 992px) { 
  #myCarousel {padding-right:33.3333%;}
  #myCarousel .carousel-controls {display:none;}  
}
@media (max-width: 991px) { 
  .carousel-caption p,
  #myCarousel .list-group {display:none;} 
}
