.mija {
  text-indent: 0;
}

#a20 img {
  width: 598px;
}

/*===================[ ARTIST MODAL ]===================*/
.artist-json-bio {
  margin-bottom: 0;
  text-indent: 25px;
}

.artist-content {
  font-weight: bolder;
}

.artist-modal-title {
  text-align: center;
  font-size: 35px;
  text-shadow: -0.2px 0.2px 0 hsla(7.2, 60%, 45%, 1), -0.4px 0.4px 0 hsla(14.4, 60%, 45%, 1), -0.6px 0.6px 0 hsla(21.6, 60%, 45%, 1), -0.8px 0.8px 0 hsla(28.8, 60%, 45%, 1), -1px 1px 0 hsla(36, 60%, 45%, 1), -1.2px 1.2px 0 hsla(43.2, 60%, 45%, 1), -1.4px 1.4px 0 hsla(50.4, 60%, 45%, 1), -1.6px 1.6px 0 hsla(57.6, 60%, 45%, 1), -1.8px 1.8px 0 hsla(64.8, 60%, 45%, 1), -2px 2px 0 hsla(72, 60%, 45%, 1), -2.2px 2.2px 0 hsla(79.2, 60%, 45%, 1), -2.4px 2.4px 0 hsla(86.4, 60%, 45%, 1), -2.6px 2.6px 0 hsla(93.6, 60%, 45%, 1), -2.8px 2.8px 0 hsla(100.8, 60%, 45%, 1), -3px 3px 0 hsla(108, 60%, 45%, 1), -3.2px 3.2px 0 hsla(115.2, 60%, 45%, 1), -3.4px 3.4px 0 hsla(122.4, 60%, 45%, 1), -3.6px 3.6px 0 hsla(129.6, 60%, 45%, 1), -3.8px 3.8px 0 hsla(136.8, 60%, 45%, 1), -4px 4px 0 hsla(144, 60%, 45%, 1), -4.2px 4.2px 0 hsla(151.2, 60%, 45%, 1), -4.4px 4.4px 0 hsla(158.4, 60%, 45%, 1), -4.6px 4.6px 0 hsla(165.6, 60%, 45%, 1), -4.8px 4.8px 0 hsla(172.8, 60%, 45%, 1), -5px 5px 0 hsla(180, 60%, 45%, 1), -5.2px 5.2px 0 hsla(187.2, 60%, 45%, 1), -5.4px 5.4px 0 hsla(194.4, 60%, 45%, 1), -5.6px 5.6px 0 hsla(201.6, 60%, 45%, 1), -5.8px 5.8px 0 hsla(208.8, 60%, 45%, 1), -6px 6px 0 hsla(216, 60%, 45%, 1), -6.2px 6.2px 0 hsla(223.2, 60%, 45%, 1), -6.4px 6.4px 0 hsla(230.4, 60%, 45%, 1), -6.6px 6.6px 0 hsla(237.6, 60%, 45%, 1), -6.8px 6.8px 0 hsla(244.8, 60%, 45%, 1), -7px 7px 0 hsla(252, 60%, 45%, 1), -7.2px 7.2px 0 hsla(259.2, 60%, 45%, 1), -7.4px 7.4px 0 hsla(266.4, 60%, 45%, 1), -7.6px 7.6px 0 hsla(273.6, 60%, 45%, 1), -7.8px 7.8px 0 hsla(280.8, 60%, 45%, 1), -8px 8px 0 hsla(288, 60%, 45%, 1), -8.2px 8.2px 0 hsla(295.2, 60%, 45%, 1), -8.4px 8.4px 0 hsla(302.4, 60%, 45%, 1), -8.6px 8.6px 0 hsla(309.6, 60%, 45%, 1), -8.8px 8.8px 0 hsla(316.8, 60%, 45%, 1), -9px 9px 0 hsla(324, 60%, 45%, 1), -9.2px 9.2px 0 hsla(331.2, 60%, 45%, 1), -9.4px 9.4px 0 hsla(338.4, 60%, 45%, 1), -9.6px 9.6px 0 hsla(345.6, 60%, 45%, 1), -9.8px 9.8px 0 hsla(352.8, 60%, 45%, 1), -10px 10px 0 hsla(360, 60%, 45%, 1), 0px 0px 0px hsla(0,0%,0%,0);
}

.modal-trees {
  display: inline-block;
}

.tree-title-container {
  width: 100%;
}

.close {
  position: absolute;
  top: 1%;
  left: 94%;
  color: black;
  opacity: 0.6;
}

.artist-modal-footer {
  float: left;
}

.modal-social-icons {
  color: #1c1b1b;
  float: left;
  margin: 8px;
}

.modal-social-icons:hover {
  color: black;
}

/*===================[ NAV ]===================*/
.nav>li>a>img {
  width: 70%;
}

#mobile-nav {
  display: none;
}

#mobile-logo {
  display: none;
}

.navbar-nav>.active {
  background-color: #b700c0
  /*background-color: #D34A98;*/
}

.active:nth-of-type(5) {
  background-color: transparent;
}

#topics-img {
  width: 56%;
}

.nav-el {
  max-width: 10.5%;
}

.nav-el:hover {
  background-color: #51c9ec;
  /*background-color: #de6aac;*/
  /*background-color: #D34A98;*/
    /*background-color: #b700c0;*/

}

.nav-text-img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.nav-el:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.navbar-nav {
  text-align: center;
  background-color: transparent;
}

.smallOne {
  display: none;
}

.nav>li>a {
  padding: 0px;
}

/*section {
  padding-top: 64px;
  margin-top: -40px;
}*/


/* Section Divider */
section {
  box-shadow: 0 0 0 2px black, 0 0 0 2px rgba(0,0,0,0.6), 0 0 0 3px #b700c0, 0 0 0 3px rgba(0,0,0,0.4), 0 0 0 3px #00180f, 0 0 0 4px rgb(0, 225, 255);
}

h2.section-heading {
  color: #D34A98;
  font-size: 40px;
}

.navbar-default {
  margin-bottom: 0px;
  border-color: black;
  box-shadow: 0 0 0 2px #00e1ff, 0 0 0 4px rgb(0, 0, 0), 0 0 0 5px #a100a9, 0 0 0 6px rgba(0,0,0,0.4), 0 0 0 4px #5f0044, 0 0 0 2px rgba(0,0,0,0.2);
}

.navbar-nav li a {
  line-height: 70px;
}

.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar-default .navbar-collapse {
  margin-top: 0px;
}

.navbar-default .navbar-collapse {
  margin-top: 0px;
  background-color: transparent;
}

.container-fluid>.navbar-header {
  background-color: black;
}

a.page-scroll {
  /*text-align: center;*/
}

.navbar-toggle {
  background-color: white;
}

.about-dropdown-text {
  font-family: Helvetica Neue, Helvetica Arial, sans-serif;
  font-weight: bolder;
  font-size: 1.2em;
  color: #D34A98;
}

.portfolio-item {
  margin-bottom: 25px;
}

.blueText {
  color: #63CCEC;
}

.pinkText {
  color: #D34A98;
}

.textCenter {
  text-align: center;
}

.navbar-fixed-bottom {
  height: 50px;
  line-height: 50px;
}

.btn {
  text-transform: uppercase;
  background-color: white;
}

.social-icons {
  margin: 8px;
  color: white;
}

.social-icons:hover {
  color: #D34A98;
}

#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:40px;   /* Height of the footer */
   background: black;
}

/*===================[ LINEUP NAV ]===================*/
.lineup-nav-text {
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
}
.lineup-nav-text:hover {
  color:#D34A98;
  background-color: transparent;
}

.lineup-nav-text>.active {
  background-color: transparent;
  color: #D34A98; 
}

.active>.lineup-nav-text {
  background-color: transparent;
  color: #D34A98;
}

.tab-content>.active {
  background-color: transparent;
  color: #D34A98;
}

.nav-justified {
  width: 80%;
  margin: 20px 10%;
  background-color: transparent;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: transparent;
}

/*===================[ Lineup ]===================*/
.artist-thumbnail {
  cursor: pointer;
}

.artist-modal-image {
}

.modal-content {
  box-shadow: 0 0 0 3px black, 0 0 0 5px rgba(0,0,0,0.6), 0 0 0 6px #b700c0, 0 0 0 10px rgba(0,0,0,0.4), 0 0 0 10px #00180f, 0 0 0 12px rgb(0, 225, 255);
  color: black;
}

/*===================[ MailChimp Modal ]===================*/
#mc_embed_signup input.button {
  background-color: #63CCEC;
}

#chimp-container {
  padding-left: 22%;
  padding-right: 22%;
}

#mc_embed_signup form {
  background-color: #e8e621;
  padding: 0 0 10px 0;
  border-radius: 5px;
  background-size: cover;
}

#mc_embed_signup {
  border-radius: 5px;
}

#modal-label {
  font-size: 22px;
  color: black;
}

#mc_embed_signup label {
  padding: 10px 0 0 0;
}

#mc_embed_signup .button:hover {
  background-color: #3c9ebc;
}

.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/*=========================[ TOPICS ]====================== */
 #topics-skull {
  width: 50%;
 }

/*=========================[ FAQ ]====================== */
.faqHeadline {
  padding-top: 15px;
  margin-bottom: 10px;
}

.faqText {
  list-style-type: none;
  font-size: 18px;
  width: 70%;
  margin-left: 15%;
}

.faq-hr {
  max-width: 70%;
  box-shadow: 0 0 0 2px black, 0 0 0 2px rgba(0,0,0,0.6), 0 0 0 2px #b700c0, 0 0 0 4px rgba(0,0,0,0.4), 0 0 0 7px #00180f, 0 0 0 7px rgb(0, 225, 255);
}
/*=========================[ LOGO NAV OVERHANG ]====================== */
.navbar-brand {
  margin-left: auto;
  margin-right: auto;
  width: 15%;
}

#deep-nav:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

#deep-nav {
  width: 62%;
  position: relative;
  left: 0;
  top: 5px;
  background-color: black;
  padding: 0px 3px 0 3px;
  border-color: #262424;
  border: 1px solid rgba(0,0,0,0.8);
  box-shadow: 0 0 0 3px black, 0 0 0 5px rgba(0,0,0,0.6), 0 0 0 6px #b700c0, 0 0 0 10px rgba(0,0,0,0.4), 0 0 0 10px #00180f, 0 0 0 12px rgb(0, 225, 255);
  /*#f300be*/
  border-radius: 50%;
}

.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
     margin-left: 0; 
}

#myNav {
  display: none;
}

/*========[ Nav Imgs ]=========*/
#experience-img {
  width: 80%;
}

/*========[ IMAGE GALLERY ]=========*/
#next-btn {
  background-color: #337ab7;
  color: #fff;
}

#next-btn:hover {
  background-color: #205a8c;
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.modal-title {
  color: black;
}

.thumbnail {
  padding: 0;
}

/*===================[ BG MOVE ]====================*/
#dt {
  margin: 0;
  padding: 0;
  height: 80%;
  width: 45%;
  background-repeat: no-repeat;
  background-position: center;

  background-image: url("../img/deep-tropics-header.gif");
  background-size: contain;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%); }

.wrap {
  height: 100%;
  overflow: hidden;
  position: relative; }
  .wrap .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    background: url("../img/background-dan.jpg") no-repeat center center;
    background-size: cover;
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    transform: scale(1.1); }

/*============[ ADMAT ]============*/
#admat {
  width:75%; 
  box-shadow: 0 0 0 3px black, 0 0 0 5px rgba(0,0,0,0.6), 0 0 0 6px #b700c0, 0 0 0 10px rgba(0,0,0,0.4), 0 0 0 10px #00180f, 0 0 0 12px rgb(0, 225, 255);"
}

#visual-artist-headline {
  margin-top: 5%;
}

#lineup-headline {
  margin-top: 2%;
  font-size: 50px;
}

#lineup {
  padding: 80px 0 80px 0;
}

/*============[ NO RANDOM SPACE ]============*/
.row {
    margin-left: 0;
    margin-right: 0
}

#mobile-logo {
  display: none;
}

/*===================[ MOBILE ]===================*/
@media only screen and (max-width: 1330px) {
  #admat  {
    width: 90%;
  }

  .navbar-default .navbar-header .navbar-toggle {
      font-weight: 700;
      font-size: 26px;
      background-color: black;
      color: white;
      border: black;
      text-transform: uppercase;
  } 

  .smallOne {
    display: inline-block;
    width: 105%;
    margin-top: 15%;
  }

  #mobile-logo {
    display: none;
  }

  .container-fluid {
      padding-right: 10px;
      padding-left: 10px;
      margin-right: auto;
      margin-left: auto;
  }
}
@media only screen and (max-width: 767px) {

  /*===[ Artist Cards - Mobile ]=== */
    .card {
      height: 210px;
    }

    .card .card-content .card-title, .card-reveal .card-title {
        font-size: 12px;
        font-weight: 500;
        padding-top: 2px;
    }

    .active {
      background-color: #51c9ec;
    }

    #dt {
      height: 100%;
      width: 75%;
    }

    #desktop-nav {
        display: none;
    }

    #mobile-nav {
        display: list-item;
    }

    .navbar-collapse { 
      max-height: 100% !important; 
      /*background-image: url(../img/background-modal.png);*/
      background-size: cover;
    }

    /* For mobile phones: */
    .nav>li>a>img {
      width: 100%;
      text-align: center;
    }

    .nav-el{
      margin-left: 5%;
      max-width: 150px;
    }

    .navbar-default .navbar-collapse {
      margin-top: 0px;
      background-color: #51c9ec;
      width: 100%;
      margin: 0;
    }

    header .header-content {
      margin-top: 14%;
    }

    #chimp-container {
      padding-left: 0%;
      padding-right: 0%;
    }

   .container-fluid {
       padding-right: 10px;
       padding-left: 10px;
       margin-right: auto;
       margin-left: auto;
   }

    #mobile-logo {
      width: 28%;
      padding-left: 30px;
      display: inline;
    }

/*=========================[ TOPICS - Mobile ]====================== */
     #topics-skull {
      width: 70%;
     }
}

@media only screen and (max-width: 700px) {
  #mobile-logo {
    width: 32%;
  }
}

@media only screen and (max-width: 650px) {
  #mobile-logo {
    width: 36%;
  }
}

@media only screen and (max-width: 612px) {

    .faqText {
      list-style-type: square;
    }

    #mobile-logo {
      width: 36%;
    }
}

@media only screen and (max-width: 550px) {
  #mobile-logo {
    width: 36%;
  }
}

@media only screen and (max-width: 500px) {
  #mobile-logo {
    width: 42%;
  }
}

@media only screen and (max-width: 450px) {
  #mobile-logo {
    width: 48%;
  }
}

@media only screen and (max-width: 400px) {
  #mobile-logo {
    width: 54%;
  }
}

@media (min-width: 1300px) {
  html,body
  {
      background: black;
  } 
}

@media (min-width: 1500px) {
  .container-fluid {
    margin-left: 12.75%;
    margin-right: 11.5%;
  }
}

@media (min-width: 1500px) {
  .container-fluid {
    margin-left: 13%;
    margin-right: 11.5%;
  }
}


/******************************************/
/*           MOBILE X  Animation          */
/******************************************/
/* btn */
.mobile-menu {
  position: relative;
  display:  inline-block;
  width: 15px;
  height: 15px;
  margin: 20px;
}
.mobile-menu span {
  margin: 0 auto;
  position: relative;
  top: 12px;
}
.mobile-menu span:before, .mobile-menu span:after {
  position: absolute;
  content: '';
}
.mobile-menu span, .mobile-menu span:before, .mobile-menu span:after {
  width: 30px;
  height: 6px;
  background-color: white;
  display: block;
}
.mobile-menu span:before {
  margin-top: -12px;
}
.mobile-menu span:after {
  margin-top: 12px;
}

/* example 5 */
.example5 span {
  -webkit-transition-duration: 0s; transition-duration: 0s;
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5.open span {
  background-color: rgba(0,0,0,0.0);
  -webkit-transition-delay: 0.2s; transition-delay: 0.2s;
}
.example5 span:before {
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5.open span:before {
  margin-top: 0;
  -webkit-transform: rotate(45deg); transform: rotate(45deg);
  -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}
.example5 span:after {
  -webkit-transition-property: margin, -webkit-transform; transition-property: margin, transform;
  -webkit-transition-duration: 0.2s; transition-duration: 0.2s;
  -webkit-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s;
}
.example5.open span:after {
  margin-top: 0;
  -webkit-transform: rotate(-45deg); transform: rotate(-45deg);
  -webkit-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s;
}

/******************************************/
/*             Artist Border              */
/******************************************/
.artist-img {
  box-shadow: 0 0 0 3px black, 0 0 0 5px rgba(0,0,0,0.6), 0 0 0 6px #b700c0, 0 0 0 10px rgba(0,0,0,0.4), 0 0 0 10px #00180f, 0 0 0 12px rgb(0, 225, 255);
  border-radius: 50%;
}

/******************************************/
/*              Artist Cards              */
/******************************************/
/*.card {
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    overflow: hidden;
}

.card:hover::after {
  background: cover;
  -webkit-transform: scale(1.2) rotate(-7deg);
  -moz-transform: scale(1.2) rotate(-7deg);
  -ms-transform: scale(1.2) rotate(-7deg);
  -o-transform: scale(1.2) rotate(-7deg);
  transform: scale(1.2) rotate(-7deg);
}*/

.card h2 {
  animation: inherit;
  position: relative;
}
.card {
  color: hsl(187, 100%, 50%);
  /*color: hsl(324, 70%, 45%);*/
  /*animation: wheelHueColor 100s infinite;*/
  background-color: currentColor;
  /*box-shadow: 0 0 0 3px black, 0 0 0 5px rgba(0,0,0,0.6), 0 0 0 4px #b700c0, 0 0 0 3px rgba(0,0,0,0.4), 0 0 0 3px #00180f, 0 0 0 5px rgb(0, 225, 255);*/
  /*box-shadow: 0 0 0 2px black, 0 0 0 2px rgba(0,0,0,0.6), 0 0 0 3px #b700c0, 0 0 0 3px rgba(0,0,0,0.4), 0 0 0 3px #00180f, 0 0 0 4px rgb(0, 225, 255);*/
}
@supports (background-blend-mode: overlay) {
  .background {
    background-image: linear-gradient(45deg, white 10%, black 90%);
    background-blend-mode: overlay;
  }
}
@keyframes wheelHueColor {
  from, to { color: hsl(324, 70%, 45%); }
  10%      { color: hsl(360, 65%, 45%); }
  20%      { color: hsl( 36, 80%, 45%); }
  30%      { color: hsl( 72, 75%, 35%); }
  40%      { color: hsl(108, 65%, 35%); }
  50%      { color: hsl(144, 75%, 35%); }
  60%      { color: hsl(180, 75%, 35%); }
  70%      { color: hsl(216, 60%, 45%); }
  80%      { color: hsl(252, 65%, 50%); }
  90%      { color: hsl(288, 60%, 40%); }
}


.card h2 {
  margin: auto;
  background: black;
}*/

@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);
.card .card-image{
    overflow: hidden;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card{
    margin-top: 10px;
    position: relative;
}

.card .card-content {
  margin-top: 80%;    
}

.card .card-content .card-title, .card-reveal .card-title{
    font-size: 20px;
    font-weight: 500;
    padding-top: 2px;   
}

.card {
  -webkit-filter: grayscale(50%);
  filter: grayscale(50%);
  overflow: hidden;
  height: 250px;
  background: no-repeat center center;
  background-size: cover;
}

.card .card-content {
    position: absolute;
    bottom: 10px;
    width: 100%;
}





